---
language: node_js
node_js:
  - "6"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  directories:
    - $HOME/.npm

before_install:
  - npm config set spin false
  - npm install -g npm@4
  - npm --version

script:
  - npm test

notifications:
  email: false
