---
language: node_js
node_js:
  - "6"

sudo: false

cache:
  directories:
    - $HOME/.npm

before_install:
  - npm config set spin false

install:
  - npm install

script:
  - npm test

notifications:
  email: false
